h1{
	color:turquoise;
	border-style:double solid double solid;
	border-color:darkturquoise;
	border-width:27px;
	font-family:"arial black" gadget sans-serif;
}
h2{
	color:deepskyblue;
	border-style:
}
