/*Requirements
*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font of each element.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.*/
h1{
	color:saddlebrown;
	border-style:dotted dashed solid double;
	border-color:rosybrown;
	border-width:8px;
	font-size:38px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color:beige;
}
h2{
	border-style:dashed;
	border-color:pink;
	border-width:5px;
}
h3{
	color:lightsalmon;
	font-family:"Comis Sans MS", cursive, sans-serif;
	border-style:inset;
	border-color:salmon;
	background-color:lightcyan;
	border-width:5px;
	font-size:30px;
}
h4{
	border-style:dashed;
	border-color:plum;
	border-width:5px;
}
p{
	color:peru;
	font-family:"Courier New", Courier, monospace;
	border-style:double;
	border-color:lightcoral;
	border-width:5px;
	background-color:lavenderblush;
	font-size:25px;
	font-weight:bold;
}

footer{
	color:indianred;
	font-family:"lucida sans unicode", sans-serif;
	border-style:dotted;
	border-width:5px;
	border-color:brown;
	background-color:lavender;
	font-size:19px;
}
body{
	background-color:ivory;

}
html{
	border-style:double groove;
	border-color:rosybrown;
	border-width:16px;
}
