*{
//	outline:solid 1px blue;
}
nav{
	float:left;
	width:150px;
	font-family:arial, helvetica, sans-serif;
	border-style:double;
	border-width:7px;
	border-color:peachpuff;
}

main{
	margin-left:170px;
	width:820px;
}

h1{
	color:mediumaquamarine;
	font-family:arial, helvetica, sans-serif;
	font-size:50px;
	border-style:dashed double dashed double;
	border-width:13px;
	border-color:paleturquoise;
}

h2{
	color:aquamarine;
	font-family:arial, helvetica, sans-serif;
	font-size:30px;
	border-style:solid;
	border-color:paleturquoise;
}

p{
	color:salmon;
	font-family:arial, helvetica, sans-serif;
	font-size:20px;
	height:20px;
}

img{
	border-style:solid;
	border-width:7px;
	border-color:pink;
	width:300px;
	height:300px;
	float:right;
}

h3{
	color:lightgreen;
	font-size:30px;
}

html{
	background-color:whitesmoke;
}

article{
	border-style:solid;
	width:800px;
	float:left;
	background-color:aliceblue;
}

ul{
	font-family:arial, helvetica, sans-serif;
}
